.chat-widget {
	position: fixed;
	bottom: 20px;
	right: 10px;
	background: #e40134;
	border-radius: 50px;
	color: white;
	padding: 0.8em;
	z-index: 100;
	display: flex;
	align-items: center;
	transform: translateY(200px);
	transition: transform 200ms ease;

	img {
		margin-left: 0.5em;
	}
	&--visible {
		transform: translateY(0);
	}
}
