@import "src/includes";

.cta {
	background: $color-green;
	border-radius: 6px;
	color: $color-light;
	padding: 1em 3em;
	border: none;
	margin: 1em 0;
	cursor: pointer;
	transition: transform 200ms linear;
	font-weight: 600;

	&:hover {
		transform: scale(1.05);
	}

	&--fill {
		width: 100%;
	}
}
