@import "src/includes";

.link {
	text-decoration: none;
	font-weight: 600;
	position: relative;

	&:link,
	&:visited {
		color: $color-dark;
	}

	&--light {
		&:link,
		&:visited {
			color: $color-light;
		}
	}
	&--block {
		margin-bottom: 1em;
	}

	&::before {
		position: absolute;
		content: "";
		background: $color-blue;
		width: 100%;
		height: 2px;
		bottom: 0;
		right: 0;
		left: 0;
		transition: all 600ms ease;
	}

	&::after {
		position: absolute;
		content: "";
		background: $color-green;
		width: 0;
		height: 2px;
		bottom: 0;
		left: 0;
		transition: all 400ms ease;
	}

	&:hover {
		&::before {
			width: 0;
			left: 100%;
			transition: all 200ms ease;
		}

		&::after {
			width: 100%;
		}
	}
}
